.hearth {
    width: 200px;
    height: 200px;
    background: red;
    transform: rotate(45deg);
    position: relative;
    animation: beating 0.7s infinite ease;
}

.hearth:before,
.hearth:after {
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: red;
    position: absolute;
}

.hearth:before{
    top: 0;
    left: -100px;
}

.hearth:after{
    top: -100px;
    left: 0;
}

@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.5);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
